.mainNavBar {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 55px;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px; 
    /* Borders */
    border-bottom: 2px solid #ddd;
}

.userMainNavBar {
    position: absolute;
    top: 2px;
    left: 0;
    width: 40px;
    height: 40px;
    align-self: center;
    cursor: pointer;
    cursor: hand;
    text-align: center;
    margin: 0;
}

.basketMainNavBar {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
}

.searchBar{
    height: 40px;
    width: 40%;
    display: flex;
    background: #eee;
    justify-content: flex-start;
    align-items: stretch;
}

.textFieldMainNavBar { 
    flex-grow: 1;
    background: #eee;
    border: 0;
}

.magnifierMainNavBar { 
    box-sizing: border-box;
    width: 40px;
    height: 40px;
}

.moreMainNavBar { 
    box-sizing: border-box;
    width: 25px;
    height: 40px;
}

.searchPanel {
    box-sizing: border-box;   
    height: 100%; /* 100% Full-height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #fff; /* White */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    border-left: 1px;
}

.basketPanel {
    display: none;
    box-sizing: border-box;   
    height: 300px;
    width: 200px; /* 0 width - change this with JavaScript */
    z-index: 1; /* Stay on top */
    position: fixed;
    top: 60px;
    right: 0px;
    background-color: #fff; /* White */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}