/**********************/
/**** Normalisation ***/
/**********************/

/*** Taille Icone ***/

.tinyIcon{    
    font-size: 15px;
    margin: 5px;
    text-align: center;
}

.smallIcon {
    font-size: 30px;
    margin: 0px;
    text-align: center;
}

.normalIcon {    
    font-size: 40px;
    margin: 10px;
    text-align: center;
}

.bigIcon {    
    font-size: 90px;
    margin: 5px;
    text-align: center;
}

.roundIcon{
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

/*****************************************************/
/********* Guideline / Classes de Base ***************/
/*****************************************************/

/* Objectif: Uniformiser le rendu des pages */

.pageTitle {
    /* Pas obligatoire mais unique par page, a priori le plus gros en taille */
    font-size: 40px;
    color: #fff;
}

/* Pour le reste de la page, utiliser les classes de titres suivants */

.smallTitle{    
    font-size: 16px;
}

.normalTitle{    
    font-size: 20px;
}

.bigTitle{    
    font-size: 25px;
}

/* Pour les labels et les inputs des formulaires, appliquer la classe suivante */

.formItem{
    width: 100%;  
    border-radius: 2px;
}

.formButton{
    /* au lieu de formItem specifiquement pour les boutons des formulaires */
    color: #fff; /* blanc - couleur de la police */
}

/* A appliquer sur les titres et les boutons (et autres éléments disctinctifs) des pages selon leur fonctionnalité */

.objetItem{
    background-color: darkseagreen;
}

.souhaitItem{    
    background-color: coral;
}

.userItem{       
    background-color: cadetblue;
}

.echangeItem{    
    background-color: darkcyan;    
}

.supportItem{    
    background-color: darksalmon;   
}

.adminItem{   
    /* concerne les tickets admins */
    background-color: burlywood;   
}

.searchItem{    
    background-color: lightgrey;
    color: #333;
}

/* non exhaustif etc... */

/****** Divisions de la page  *********/

/*
Rappels:
- <div> élement display block, apparait sur une seule ligne
- <span> élément inline , des éléments inline apparaissent les uns à côté des autres
*/


.sectionBloc, .oneRowBloc, .oneColonneBloc {    
    display: flex;
    align-items: center;
}


.oneRowBloc{ 
    flex-wrap: nowrap;
    margin: 10px;
}

.oneColBloc{   
    flex-flow: column nowrap;
    margin: 0px;
}

.grow{
    flex-grow: 1;
}

/* Pour rappel une balise <section> est un conteneur affichant de la même manière des items <article> */

.sectionBloc{
    flex-wrap: wrap;
}

/* Articles remplissant le sectionBloc ratio: carré voire portrait */

.smallArticle{
    
}

.normalArticle{
    
}

.bigArticle{
    
}

/* Grid/Figures libres */

/* Jouer sur la taille et le flex-grow des éléments, ne multiplier pas trop les conteneurs */

.gridBloc{     
    display: flex;
    _flex-flow: ;
    _justify-content: ;
    _align-items: ;
}

/* pour exemple */

.elementGauche{
    _width: ;
    _height: ;
    _flex-grow: ;
    _align-self: ;
    _order: ;
}
.elementDroit{
    
}

.elementBas{
    
}
.elementHaut{
    
}

/******* Karen **********/


.versusBloc
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.versusBloc div {
    width: 50%;
    
}

.versusBloc div div {
    width: 100%;   
}

.descriptionForm{
    border: 2px solid rgb(215,215,215);
    border-radius: 2px;
    height: 60px;
    margin:10px;
}

.boutonsBloc{
    justify-content: flex-end;
    background-color:  rgb(238,238,238);
    width: 100%;
     margin: 0;
    margin-top: 20px;
}

/************** *************/


.photo
{
    display: flex;
    -background-color: white;
    background-color: rgb(238,238,238);
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.pageObjet {
    height: 350px;
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 0;
    background-color: white;
    border-radius: 2px;
}

.separation {
    width: 5px;
    height: 100%;
    background-color: floralwhite;
    margin: 10px;
    margin-right: 15px;
}

.pageTitleBloc {
    width: 100%;
    height: 60px;
    padding-left: 10px;
    margin: 0;
    border-radius: 2px;
}

.inputText {
    border: 2px solid rgb(215,215,215);
    height: 40px;
    margin: 10px;
    
}

.textInputText {
    font-size:  15px;
    color: rgb(215,215,215);
}

#name {
    position: relative;
}



.photosBloc {
    -background-color: rgb(238,238,238);
    height: 120px;
    margin: 10px;
    width: 70%;
}

.buttonForm {
    width: 170px;
    height: 30px;
    border: 0;
    border-radius: 3px;
    font-size: 17px;
    color: white;
    margin:0;
}







.buttonFormCategory {
margin: 10px;
    border: 0;
    border-radius: 4px;
}

.categoryBloc {
    display: flex;
    justify-content: space-around;
}

.purpleItem {
     background-color: mediumpurple;
}



.yellowItem {
    background-color: gold;
}

.blueItem {
    background-color: skyblue;
}



.pageObjet {
    
}

.pageSouhait {
    height: 650px;
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 0;
    background-color: white;
}

.listePageObjet {
     height: 200px;
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 0;
    background-color: white;
    border-radius: 2px;
}

.pageComplementBloc {
      width: 100%;
    height: 35px;
    padding-left: 10px;
    margin: 0;
    border-radius: 2px;
}
