/************ Resultats Main *************/


.resultatsBloc{
    width: 95%;
    align-items: stretch;
    margin: 20px;
}




/************ Google Maps *************/

.gMapBloc{
    margin: 10px 0 10px 0;
    flex-grow: 1;
}



/************ Objets *************/


.objetsBloc{ 
}

.objetArticle {     
    margin: 10px;
    width: 260px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    position: relative;
}

.numObjet{    
    position: absolute;
    width: 50px;
    height: 50px;
    text-align: center;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    background-color: #FA8072;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addBasketIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    /* Do not set top / left! */
}

.letter {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 250px;
    height: 310px;
    position: relative;
}

.letter:before,
.letter:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.letter:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.8deg);
}

.letter:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    right: -3px;
    top: 1px;
    transform: rotate(3deg);
}

.imageDiv {
    width: 250px;
    height: 235px;
    padding: 30px 30px 20px 30px;
}

.imageObjet {
    width: 100%;
    height: 100%;
    background-image: url("#{resource['images/objet1.png']}");
    background-size: cover;
}

.titleObjet{
    text-align: center;
    flex-grow: 1;
}

.objetIconeBloc{
    width: 100%;
}


.objetIconeBloc ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.objetIconeBloc ul li {
    margin: 2px;
    flex-grow: 1;
    padding: 5px;
    flex-grow: 1;
    font-size: 25px;
}

.catObjet{
    color: #fff;
    background-color: cadetblue;
    border-radius: 5px;
    padding: 5px;
}

.objetIconeText{
    font-size: 20px;
}